/* Section Empleados */

.empleados {
   width: 100%;
   height: 100%;
}

.tituloEmpleados {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.tituloEmpleados span {
    color: var(--main-color);
    font-size: 7rem;
}

.tituloEmpleados h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.botones {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
}

.boton{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 2rem;
    border-radius: 0.5rem;
    background-color: var(--main-color);
    color: #000000;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-left: 2rem;
}

.boton:hover{
    background-color: #474fa0;
    color: #ffffff;
}

.contenedorEmpleados {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.imgEmpleado {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.imgEmpleado img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--main-color);
}

.contenedorEmpleados .cajaEmpleado {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.contenedorEmpleados .cajaEmpleado h3 {
    font-size: 2.2rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
    color: var(--text-color);
}

.contenedorEmpleados .cajaEmpleado p {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 0.5rem;

}

.botonCard{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.btnc{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 2rem;
    border-radius: 0.5rem;
    background-color: var(--main-color);
    color: #000000;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 1rem;
    gap: 4rem;
    margin-left: 1rem;
}

.btnc:hover{
     background-color: #474fa0;

    color: #ffffff;
}

